doctype html
html(lang='ru')
    head
        include includes/include-head.html
        title Главная
        link(rel="stylesheet" href="/css/controls.css")
    body
        include includes/header
        div.page-subtitle
            h2 Главная
            a(href="/").return-link.pure-button
                h3 Назад
        div.main.pure-g
            div.pure-u-1-3.grid-cell
                a(href = "new")
                    div.grid-cell-content
                        div.grid-cell-title
                            h2 Список турниров (Не работает)
                        div.grid-cell-icon
                            div.list-icon
                                div
                                div
                                div
            div.pure-u-1-3.grid-cell
                a(href = "new")
                    div.grid-cell-content
                        div.grid-cell-title
                            h2 Новый турнир
                        div.grid-cell-icon
                            div.plus-icon
            div.pure-u-1-3.grid-cell
                div.grid-cell-content
                    div.grid-cell-title
                        h2 (Хз что тут будет, но это тоже не работает)
                    div.grid-cell-icon
        include includes/footer

script(src="/js/common.js")