doctype html
html(lang='ru')
    head
        include includes/include-head.html
        title Новый турнир
        link(rel="stylesheet" href="/css/tournament-done.css")
    body
        include includes/header.pug
        div.done-main
            h2.done Турнир создан!
            a(href="/")
                h3.back-text На главную