body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  text-align: center;
}

.page-subtitle {
  text-align: center;
}

.page-subtitle h2 {
  display: inline-block;
  margin-right: 1%;
}

.return-link h3 {
  margin: 0;
}

@media (max-width: 768px) {
  .page-subtitle {
    font-size: 10pt;
  }
}
