.auth-main {
    text-align: center;
    margin-top: 5%;
}
.auth-content {
    display: inline-block;
    border: #3e3e3e solid;
    border-radius: 10px;
    padding: 1%;
}

button.auth {
    background-color: #858585;
    border: #676767 solid;
    padding: 2% 5%;
    border-radius: 10px;
    cursor: pointer;
}