footer
  a(href='https://github.com/TohichSd/bot-trnm') О проекте
  a(href='https://discord.gg/b5CDRJKGYX') Дискорд-сервер
  a(href='https://vk.com/armellotournaments') ВКонтакте
  strong.author armellobot.ru by @TohichSd