base(href={base_url})
header
  div
    a(href='/')
      h1#header-name ArmelloBot
    if auth === true
      #user-data
        h3#username !{username}
        a(href='/logout')
          #exit-button.pure-button ВЫЙТИ
