link(rel="stylesheet" href="/css/footer.css")
footer
    //div.footer-line
    h3
        a(href="https://github.com/TohichSd/bot-trnm") О ПРОЕКТЕ
    h3
        a(href="https://discord.gg/QNUFfjj8sZ") ПОДДЕРЖКА