header
    div
        a(href="/")
            h1#header-name ArmelloBot
            if authorized === true
                div#user-data
                    h3#username !{username}
                    a(href="/logout")
                        div#exit-button.pure-button ВЫЙТИ