header
    div
        a(href="/")
            h1#header-name TbCtrl
        -var authorised = '#{authorised}'
        if authorised
            div#user-data
                h3#username #{username}
                div#exit-button.pure-button ВЫЙТИ