html(lang='ru')
  head
    title= 404
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/error.css')
    meta(content="width=device-width, initial-scale=1", name="viewport", charset="utf-8")
  body
    main
      .main-container
        .error-container
          h2 Тут такое дело...
          div
            h3 Проект находится в разработке и эта страница пока что не готова. Возможно она появится совсем скоро =)
            a(href='/') На главную
    include includes/footer