doctype html
html(lang='ru')
  head
    include includes/include-head.html
    title Выбор сервера
    link(rel='stylesheet', href='/css/choose-server.css')
  body
    include includes/header
    .page-subtitle
      h2 Выбор сервера
    .main
      .container.guild-container
        each guild in guilds
          .guild-card
            - let link = `/guild/${guild.id}/`
            a(href=link)
              img(src=guild.icon)
              p
                strong #{guild.name}
    include includes/footer
