doctype html
html(lang='ru')
  head
    include includes/include-head.html
    title Вход
    link(rel='stylesheet', href='/css/ds-auth.css')
  body
    include includes/header
    .main
      a(href=auth_link)
        .auth-content.pure-button
          h1.auth-text Войти с помощью Discord
  include includes/footer
