doctype html
html(lang='ru')
    head
        include includes/include-head.html
        title #{code}
        link(rel="stylesheet" href="/css/err.css")
    body
        include includes/header
        div.main
            h2.err-code #{code}
            h3.err-text #{text}
            a(href="/")
                h3.err-link НА ГЛАВНУЮ
        include includes/footer