.guild-container {
  text-align: center;
}

.guild-card {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: inline-block;
  padding: 0.5%;
  cursor: pointer;
  margin: 0 1%;
  word-break: break-word;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  transition: all 0.05s linear;
}

.guild-card a {
  text-decoration: none;
  color: black;
  font-size: 130%;
}

.guild-card p {
  color: #3E3E3E;
  margin-bottom: 3%;
}

@media (min-width: 1240px) {
  .guild-card {
    width: 10%;
  }

  .guild-card:hover {
    transform: translateY(-3%);
  }
}