.auth-content {
  display: inline-block;
  border: #3e3e3e solid;
  border-radius: 10px;
  padding: 1%;
    margin-top: 5%;
  background-color: #ffffff;
  color: #466976;
}

.auth {
  padding: 2% 5%;
  border-radius: 10px;
  cursor: pointer;
}

.auth-text {
  
}